/*===== Reset CSS =====*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/*===== Base =====*/
html {
    scroll-behavior: smooth;
}

button, input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}


.container {
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}

.grid {
    display: grid;
}

.calculator__container {
    width: 500px; 
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}