/*===== Reset CSS =====*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/*===== Base =====*/
html {
    scroll-behavior: smooth;
}

button, input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}


.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: aqua;
}

.grid {
    display: grid;
}

.main__container {
    background-color: rgb(248, 247, 240);
    min-height: 100vh;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.39);
}

.calculator__container {
    width: 500px; 
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}