/*===== Reset CSS =====*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/*===== Base =====*/
html {
    scroll-behavior: smooth;
}

button, input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}


